<h1>Routes in <%= @area.name %></h1>

<ul>
  <% @lines.each do |line| %>
    <li>
    <%= link_to line.name, area_line_path(@area, line) %>
    </li>
  <% end %>
</ul>

    <%# Grade:line.grade
    Category:line.category
    Description:line.description %>
