<h1>Suggested routes in <%= @area.name %></h1>

<ul>
  <% @lines.each do |line| %>
    <li>
      <%= link_to line.name, line_path(line) %>
      <%= line.grade %>
      <%= line.category %>
    </li>
  <% end %>
</ul>
