<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" data-climb-photos-target="innerCarousel">
    <% photos.each do |photo| %>
      <div class="carousel-item text-center">
        <%= cl_image_tag(photo.key, data: {photo_index: photo.key}) %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
