.my-climb-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.climb-log-card {
  background-color: $dirty-orange;
  height: 75px;
  border-radius: 5px;

  a {
    color: white;
  }
}

.route-edit-delete {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: -20px;
}

.climbing-status {
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
}
