.new-climb-box {
  width: 80vw;
  max-height: 78vh;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  overflow-y: scroll;

  .button-and-route {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .button-and-route a {
    margin-right: 6px;
    color: black;
  }

  .log-climb-for-route {
    flex-grow: 1;
    margin: 0;
    padding: 0 15px;
  }

  .icon-width-spacer {
    width: 22px;
  }

  .submit-climb-button {
    background-color: $light-green;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}
