.climbs-container {
  width: 330px;
  margin: 25px auto;

  a {
    color: black;
  }
}

.climbs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;

  .climbs-title {
    font-weight: bold;
    margin-bottom: 0;
  }

  .climbs-header-icon-spacer {
    width: 20px;
  }
}

.climb-log-cards {
  width: 100%;
  margin: 20px auto 0 auto;
}

.climb-log-card {
  display: flex;
  background-color: white;
  height: 75px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);

  p {
    margin: 0;
  }

  .climb-log-info {
    margin: auto 15px;
    flex-grow: 1;
  }

  .climb-line-and-grade {
    display: flex;
    align-items: center;
  }

  .climb-line-name {
    flex-grow: 1;
  }

  .climb-grade i {
    margin-right: 5px;
    font-size: 13px;
  }

  .climb-info-text {
    font-weight: 300;
    font-size: 13px;
  }
}

.status-color {
  width: 25px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.completed {
  background-color: $light-green;
}

.attempted {
  background-color: $light-blue;
}

.retreated {
  background-color: $dirty-orange;
}
