.my-climbs-container {
margin: 15px;
margin-top: 30px;
}

.header-profile-index {
  text-align: left;

  .my-climb-title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-left: 100px;
    color: black;
  }

}

.climb-log-card {
  display: flex;
  background-color: white;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 10px;

  a {
    color: black;
  }
}

.route-edit-delete {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: -20px;
}

.climbing-status {
  color: black;
  padding-left: 10px;
  padding-bottom: 5px;
}

.climb-line-name {
  font-size: 18px;
}

.delete-climb-in-profile {
  color: black;
}

.edit-climb-in-profile {
  color: black;
}

.card-info-climb-log {
  padding-left: 10px;
  width: 300px;
}

.profile-climb-show-arrow {
  color: black;
}

.status-color {
  background-color: green;
  width: 40px;
  height: 75px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.completed {
  background: $light-green;
}

.attempted {
  background: $light-blue;
}

.retreated {
  background: $dirty-orange;
}
