// Specific CSS for your home-page
.home-container {
  position: relative;
  height: calc(100vh - 43px); /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 100vh) - 43px);
  overflow-y: scroll;
}

.hidden-landing-link {
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0;
}
