.landing-bg {
  height: 100vh;
  width: 100%;
  background-image: url("landing.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.landing-button {
  border-color: white;
  border-width: 0.2px;
  padding: 5px 20px;
  margin-top: -20px;
}

.landing-button:hover {
  background-color: $light-green;
}
