.profile-pic-banner {
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  width: 100%;
  height: 260px;
}

.log-out {
  text-align: right;
  margin-bottom: 0;

  a {
    color: white;
    font-size: 20px;
  }
}

.profile-name {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  text-shadow: 3px 3px 3px rgba(0,0,0,100%);
  font-family: $greeting-font;
}

.user-information {
  width: 90%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-around;

  i {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

.profile-badge-title {
  font-size: 12px;
  margin-bottom: 0px;
}

.profile-badge-info {
  font-size: 20px;
  margin-bottom: 0;
}

.no-climb-log {
  margin-top: 80px;
  font-style: italic;
  font-weight: 300;
}

.profile-climbs {
  margin: 20px auto;

  .my-climbs-title {
    margin-bottom: 0;
  }

  .climb-log-cards {
    margin: 0 auto;
  }
}
