.profile-container {
  margin: 15px;
  padding: 5px;

  .log-out {
    text-align: right;
    margin-bottom: 0px;

    a {
      color: black;
    }
  }

  .profile-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .profile-header {
    text-align: center;
    padding-top: 5px;
  }

  .profile-pic-banner {
    background-size: cover;
    background-position: center;
    padding: 0 0;
    height: 170px;
  }

  .profile-image {
    display: flex;
    justify-content: center;
  }

  .user-information {
    margin-top: -10px;
    display: flex;
    justify-content: space-around;

    .number-of-climb {
      text-align: center;
      background-color: $light-green;
      border-radius: 50%;
      height: 80px;
      width:80px;
      padding-top: 8px;
      font-size: 18px;

      .number-of-climb-title {
        margin: 5px;
      }

      .number-of-climb-info {
        font-weight: bold;
      }
    }

    .number-of-tip {
      text-align: center;
      background-color: $light-blue;
      border-radius: 50%;
      height: 80px;
      width:80px;
      padding-top: 8px;
      font-size: 18px;

      .number-of-tip-title {
        margin: 5px;
      }

      .number-of-tip-info {
        font-weight: bold;
      }
    }

    .current-grade {
      text-align: center;
      background-color: $dirty-orange;
      border-radius: 50%;
      height: 80px;
      width:80px;
      padding-top: 8px;
      font-size: 18px;

      .current-grade-title {
        margin: 5px;
      }

      .current-grade-info {
        font-weight: bold;
      }
    }
  }

  .log-climb-preview {
    margin-top: 15px;
    background-color: white;
    height: 300px;
    padding: 10px;

    .view-all-my-climbs {
      font-weight: bold;
      text-align: right;

      a {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
