<div class="footer" data-controller="icon-color">
  <a href="/home"><i id="footer-home" class="fa-sharp fa-solid fa-house"></i></a>
  <a href="/map"><i id="footer-map" class="fa-solid fa-map-location-dot"></i></a>
  <a href="/search"><i id="footer-search" class="fa-solid fa-magnifying-glass"></i></a>
  <a href="/profile"><i id="footer-profile" class="fa-solid fa-user"></i></a>
</div>
