<div class="footer">
  <a href="/home"><i class="fa-sharp fa-solid fa-house"></i></i></a>
  <a href="#"><i class="fa-solid fa-map-location-dot"></i></a>
  <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
  <a href="/profile"><i class="fa-solid fa-user"></i></a>
</div>
