<div class="search-bar search-bar-with-back">
  <%= form_with url: search_path, method: :get, class: "search-form" do %>
    <div class="input-group">
      <button type="button">
        <%= link_to(path) do %>
          <i class="fa-solid fa-arrow-left-long"></i>
        <% end %>
      </button>

      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-field",
        placeholder: placeholder.nil? ? "Find an area or a route" : placeholder
      %>
    </div>

    <%= button_tag(class: "search-button") do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>
