<%# Search Results %>

<div data-controller="search-results">
  <div class="search-bar-and-tabs-container fixed-top">
    <%= render "shared/search_bar_with_back", path: home_path %>

    <div class="line-tabs">
      <p class="line-tab selected-tab"
         data-search-results-target="areasTab"
         data-action="click->search-results#displayAreas">Areas</p>
      <p class="line-tab"
         data-search-results-target="linesTab"
         data-action="click->search-results#displayLines">Routes</p>
    </div>
  </div>

  <div id="area-results">
    <%= render "areas_search_list", areas: @areas %>
  </div>

  <div id="line-results" class="d-none">
    <%= render "lines_search_list", lines: @lines %>
  </div>
</div>

<div class="footer-spacer"></div>
