<%# All Areas (index) %>
<div class="area-index-container">
  <div class="search-bar-container fixed-top">
    <%= render "shared/search_bar_with_back", path: home_path %>
  </div>

  <div class="area-cards">
    <% @areas.each do |area| %>
      <% if area.photo.attached? %>
        <% url = cl_image_path(area.photo.key) %>
      <% else %>
        <% url = image_path("area_placeholder.jpg") %>
      <% end %>

      <%= link_to(area_lines_path(area)) do %>
        <div class="area-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
          <p><%= area.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="footer-spacer"></div>
</div>
