.carousel-container {
  height: calc(100vh - 43px);
  width: 100%;
  background-color: rgba(black, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 10vw;
  }
}

.carousel-inner {
  width: 100vw;
}

.carousel-toggler i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  color: white;
}

.carousel-item img {
  width: 100vw;
  object-fit: cover;
  object-position: center;
}
