.edit-log-climb-box {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}

.update-climb-button {
  margin-left: 70px;
  background-color: $light-green;
}

.edit-climb-name {
  margin: 0 50px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}
