.user-form-headers {
  margin-top: 20px;
  margin-left: 20px;
}

.form-inputs {
  margin: 20px;
}

.form-actions {
  margin-left: 20px;
  margin-bottom: 20px;
}

.forgot-pass-btn {
  background-color: $light-green;
}

.user-render-links {
  margin-left: 20px;
  margin-bottom: 20px;

  a {
    color: $dirty-orange;
  }
}

.forgot-pass-links > a {
  color: $light-green;
}
