.form-inputs {
  // margin: 30px auto 20px auto;
  margin: 20px;
}

.user-form-headers {
  margin-top: 15px;
  margin-left: 20px;
  text-align: left;
}

.form-actions {
  margin-left: 7px;
}

.user-render-links {
  margin-left: 20px;
}
