.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  max-width: 500px;
  height: 92.5vh;
  width: 100%;
  position: sticky;
  top: 57px;
  margin-right: 0px;
  margin-left: 10px;
}
