.recommendation-section {
  background-color: $light-gray;
  margin: 10px;
  padding: 0 10px;

  #recommendation {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #see-all {
    text-align: right;
    margin-top: 3px;
    margin-bottom: 0px;
    font-style: italic;
  }

  #see-all a {
    color: black;
  }

  .recommendation-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 330px;
    margin: 0 auto;
  }

  .recommendation-card-info {
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  }

  .recommendation-card-info a {
    color: white;
    text-align: center;
  }
}
