.leave-tip-box {
  width: 300px;
  margin: 30px auto 20px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}

.tip-route {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.tip-instruction {
  font-size: 12px;
  font-weight: 300;
}
